canvas { 
	border:1px solid black;
	animation: bgcolor infinite 20s;
		}	

body { 
	margin: 0;
		 }

@keyframes bgcolor{
	0%
	{
		background:#996699;
	}

	20%
	{
		background:#c2c2d6;
	}

	40%
	{
		background: #666699	 ;
	}

	60%
	{
		background:#3d3d5c ;
	}

	100%
	{
		background:#000000 ;
	}
	
	


